!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title
      404 - takuyan.com
    %meta{content: "ja", "http-equiv" => "content-language"}
    %meta{content: "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", name: "viewport"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "telephone=no", name: "format-detection"}
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href: "http://fonts.googleapis.com/css?family=Inconsolata", rel: "stylesheet", type: "text/css"}
    %script{src: "http://code.jquery.com/jquery-1.10.1.min.js"}
    %link{href: "/assets/stylesheets/main.css", rel: "stylesheet"}
    %link{href: "/assets/stylesheets/syntax.css", rel: "stylesheet"}
    %link{href: "/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "/"} takuyan.com
          .nav-collapse.in
            %ul.nav
              %li
                %a{href: "http://blog.takuyan.com", rel: 'me', target: :_blank}
                  %i.icon-rss
                  Blog
              %li
                %a{href: "http://twitter.com/#/katton", rel: "me", target: :_blank}
                  %i.icon-twitter-sign
                  Twitter
              %li
                %a{href: "https://github.com/takuyan", rel: "me", target: :_blank}
                  %i.icon-github-sign
                  Github
              %li
                %a{href: "http://facebook.com/takuyank", rel: "me", target: :_blank}
                  %i.icon-facebook-sign
                  Facebook
              %li
                %a{href: "http://takuyan.hatenablog.com/", rel: "me", target: :_blank}
                  %i.icon-rss-sign
                  Old Blog
    .container
      %h1.not_found#nf1
        404
      %h2.not_found#nf2
        Page
      %h2.not_found#nf3
        Not
      %h2.not_found#nf4
        Found
      %h3.not_found#nf4
        %a{href: '/', class: 'btn btn-info'}
          %i.icon-home
          Back to Top
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30952501-1']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    %script{src: "http://typesquare.com/accessor/script/typesquare.js?8uMWCazeqlU%3D"}
