!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title
      takuyan.com
    %meta{content: "ja", "http-equiv" => "content-language"}
    %meta{content: "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", name: "viewport"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "telephone=no", name: "format-detection"}
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href: "http://fonts.googleapis.com/css?family=Inconsolata", rel: "stylesheet", type: "text/css"}
    %script{src: "http://code.jquery.com/jquery-1.10.1.min.js"}
    %link{href: "/assets/stylesheets/main.css", rel: "stylesheet"}
    %link{href: "/assets/stylesheets/syntax.css", rel: "stylesheet"}
    %link{href: "/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "/"} takuyan.com
          .nav-collapse.in
            %ul.nav
              %li
                %a{href: "http://blog.takuyan.com", rel: 'me', target: :_blank}
                  %i.icon-rss
                  Blog
              %li
                %a{href: "http://twitter.com/#/katton", rel: "me", target: :_blank}
                  %i.icon-twitter-sign
                  Twitter
              %li
                %a{href: "https://github.com/takuyan", rel: "me", target: :_blank}
                  %i.icon-github-sign
                  Github
              %li
                %a{href: "http://facebook.com/takuyank", rel: "me", target: :_blank}
                  %i.icon-facebook-sign
                  Facebook
              %li
                %a{href: "http://takuyan.hatenablog.com/", rel: "me", target: :_blank}
                  %i.icon-rss-sign
                  Old Blog
    .container
      .page-header
        %h1#title
          takuyan.com
          %small
            Laziness, Impatience, Hubris.

      #about
        .page-header
          %h2
            About Me
        .row
          .span10
            %p
              しくみ作りが大好きで、怠けるための努力は惜しみません。
            %p
              ゼロからサービスを作るほうが得意です。そのためサーバ管理からデザイン、プログラムをひと通り嗜んでいます。立ち位置としては、UIデザインができるプログラマーといったところです。継続してメンテナンスするのは苦手なので自動テストを書いて能力を補ったりしています。
            %p
              「同じアイディアを持つひとが１００人、実際に作るひとが１０人、成功するひとが１人」という言葉が好きです。アイディアはそれだけではあまり価値は無く、作ってこそ価値があるものだと考えています。

            .row
              .span5
                %h3
                  得意なこと
                %ul
                  %li
                    新規サービスの企画・プロトタイプ作成
                  %li
                    Ruby on Rails
                  %li
                    Twitter Bootstrap ベースのサイト構築
                  %li
                    Amazon Web Servicesを使ったLinuxサーバの構築
              .span5
                %h3
                  できること
                %ul
                  %li
                    Titanium Mobile によるiPhone/Androidアプリ制作
                  %li
                    Haml, Sass, CoffeeScript, Rspec, Jenkins
                  %li
                    コイン・マジック
                  %li
                    育児
          .span2
            %p
              %img{src: '/assets/images/image.jpg', alt: 'takuyan', class: 'img-polaroid'}

      #projects
        .row
          .span5
            .page-header
              %h2
                Personal Project
            %ul.list
              %li
                %a{href: "http://proofoflife.me", target: :_blank}
                  生存証明 - Proof of Life
              %li
                %a{href: "http://gamebook.takuyan.com", target: :_blank}
                  ゲームブック - Gamebook
              %li
                %a{href: "http://printer.takuyan.com", target: :_blank}
                  文字並べ - Display Strings
                  %span.label
                    Joke
          .span5
            .page-header
              %h2
                Work
            %ul.list
              %li
                %a{href: "http://kakista.jp", target: :_blank}
                  かきスタ - Writing Studio
              %li
                %a{href: "http://houhou.info", target: :_blank}
                  方法諸説 - Houhou Shosetsu
              %li
                %a{href: "http://shichikasha.info", target: :_blank}
                  七花舎文庫 - Shichikasha Bunko
      #contact
        .page-header
          %h2
            Contact
        %p
          思うところがございましたら、contact[あっと]takuyan.com または、Twitterなどからご連絡ください。


    %script{src: "/assets/javascripts/lib/bootstrap-affix.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-alert.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-button.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-carousel.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-collapse.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-dropdown.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-modal.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-scrollspy.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-tab.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-tooltip.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-transition.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-typeahead.js"}
    %script{src: "/assets/javascripts/lib/bootstrap-popover.js"}
    %script{src: "/assets/javascripts/main.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30952501-1']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    %script{src: "http://typesquare.com/accessor/script/typesquare.js?8uMWCazeqlU%3D"}

